# General
NODE_ENV=production
PORT=3000

# Database
DB_URI=mongodb://127.0.0.1:27017/pixsolve

# Logging
LOG_LEVEL=info

# Background Processing
REDIS_URL=redis://127.0.0.1:6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret